body {
  
    box-sizing: border-box;
    margin: 0;
    display: block;
    font-family: 'Inika', serif;
    background-color: #c7c3c3;
    
    
  }

  @font-face {
    font-family: Inika;
     src: url("assets/fonts/Inika-Regular.ttf");
   }
  
   @font-face {
    font-family: Inter;
     src: url("assets/fonts/Inter-Regular.ttf");
   }
  
   
 

  h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2rem;
    font-weight: 800;
  }
  

  
  .container-centered {
    margin: 20px auto;
    width: 1200px;
    font-family: "Inter", sans-serif;
    line-height: 1.2em;
    font-size: 18px;
    background-color: #ffffff;
  }



  .photo-container {
    display: flex;
    height: 600px;
    background-color: aqua;
   
}

.title {
    display: flex;
    height: 120px;
    background-color: #006881;
}

.title-container h1 {

font-family:"Inter", sans-serif;
color: white;
font-size: 30px;
letter-spacing: 1.5px;
text-align: left;
line-height: 1em;
padding: 45px 0 10px 25px;

}

.description h2 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #016b81;
 
}

.description h3 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 500;
  color: #016b81;
 
}

.description h4 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 550;
  color: #016b81;
 
}


.description {
  display: flex;
  flex-direction: column;
  color: #555555;
  background-color: #ffffff;
  margin: 20px 40px 50px 40px;
  

}

.description p {
 
  margin-bottom: 40px;

}

.description ul {

  margin-left: 30px;
  margin-bottom: 40px;
  line-height: 1.5em;
  
}

.description ul li::before {
  content: "\2022";
  color: #016b81;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


.job-icons li {
display: block;
padding-bottom: 15px;

}


.navigation-container {
    display: flex;
    height: 340px;
    background-color: #e4e4e4;
    color: #555555;

}

.job-icons {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px 40px;
  padding-bottom: 40px;

}

.job-details ul {
  margin-top: 20px;
  margin-left: 10px;


}


.job-details li {

  display: block;
  padding-bottom: 40px;
  
  }




.button-container {
    display: flex;
    flex-direction: column; 
    margin-left: 280px;
    margin-top: 80px;

}

.button-orange {

    padding: 0 40px 0 40px;
    font: inherit;
    background: #ed6c05;
    color: white;
    cursor: pointer;
    font-family: 'Heebo';
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 20px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-right: 34px;
    margin-bottom: 20px;
    border-style: none;

}


.button-blue {

    padding: 0;
    font: inherit;
    background: #006881;
    color: white;
    cursor: pointer;
    font-family: 'Heebo';
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 20px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-right: 34px;
    margin-bottom: 20px;
    border-style: none;

}

.button-grey {

    padding: 0;
    font: inherit;
    background-color: #717171;
    color: white;
    cursor: pointer;
    font-family: 'Heebo';
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 20px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-right: 34px;
    border-style: none;

}

.job-details {
    display: flex;
    flex-direction: column; 
    margin-left: 60px;
    margin-top: 20px;
   

}

.information {
  display: flex;
  flex-direction: row;
}

.information h4 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 550;
  color: #016b81;
 
}

.information h5 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.2rem;
  font-weight: 550;
  color: #016b81;
}


.left-column p {
  padding-bottom: 10px;
}




.left-column {
  margin-left: 60px;
  margin-top: 10px;
  line-height: 1.7em;

}

.right-column {
  margin-left: 360px;
  margin-top: 10px;
  line-height: 2em;

}

.logo img{
  margin: 50px 80px 20px 320px;
}


.button-row {
  margin-top: 60px;
  margin-left: 140px;
  margin-bottom: 80px;
}

.social{
  display: flex;
  flex-direction: row;
  margin: 40px 0px 40px 80px;
  padding-bottom: 60px;
  
}

.social-left img  {
  padding-right: 20px;
  
}

.social-left h3 {
  color: #006881;
  font-size: 20pt;
  letter-spacing: 0.1em;
  padding-bottom: 50px;
  margin-left: 10px;
}

.social-right h3 {
  color: #006881;
  font-size: 20pt;
  letter-spacing: 0.1em;
  padding-bottom: 50px;
  
}

.social-right img  {
  padding-right: 20px;
   
}

.social-right {
  margin-left: 450px;
}